<div class="container">
  
 <div class="row mt-5 ml-1">
    <div class="col-md-4"></div>
    <div class="col-md-4">
     <h1 class="display-1"> About</h1>
    </div>
    <div class="col-md-4"></div>
 </div>
 
 <div class="row mt-5">
   <div class="col-md-12">
     <h3 class="text-center">
      <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
      <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
      <p>様々なバリエーションをご用意しております。</p>
      <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
      <p>ぜひご注文ください。</p>
     </h3>
   </div>
 </div>
 
 <div class="row">
   <div class="col-md-2"></div>
   <div class="col-md-7 ml-3">
    <%= image_tag "cake.jpeg", :size =>'700x300' %>
   </div>
   <div class="col-md-2"></div>
 </div>
</div>
