<h1>顧客一覧画面</h1>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
      <th colsapn="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customers| %>
    <% end %>
  </tbody>
</table>
