<div class="container">
 <div class="row text-left">
   <div class="col-md-12 mt-5">
    <h5 class ="bg-light">ジャンル編集</h5>
   </div>
 </div>
   <div class="row my-3 d-flex justify-content-left">
    <div class="col-xs-12">
      <%= form_with model: @genre,url: admin_genre_path, method: :patch do |f| %>
      <div class="form-group">
         <%= f.label :name, "ジャンル名" %>
         <%= f.text_field :name, autofocus: true, id:"name" %>
         <%= f.submit "変更を保存", class:"btn btn-success my-3 mr-3" %>
      <% end %>
      </div>
    </div>
   </div>
</div>
